@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>RhymeTool</title>
    <base href="/chords/" />
    
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/chords.css" rel="stylesheet" />
    <link href="Skinnix.RhymeTool.Client.Web.styles.css" rel="stylesheet" />
</head>

<body data-bs-spy="scroll" data-bs-target="#sheetNavigation" data-bs-smooth-scroll="true">
    <div id="app">
        <component type="typeof(Skinnix.RhymeTool.Client.App)" render-mode="Server" />
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="/_framework/blazor.server.js" autostart="false"></script>
    <script>
        Blazor.start({
            configureSignalR: function (builder) {
                builder.withUrl("/chords/_blazor", {

                });
            }
        });
    </script>
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
