@namespace Skinnix.RhymeTool.Client.Components.Configuration

@inherits PropertyEditorBase<bool>

@if (Property is not null)
{
    <div class="row mb-3">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="@(EditorId)-editor"
                   @bind="Value" />

            <label class="form-check-label" for="@(EditorId)-editor">
                @Property.Name
            </label>
        </div>
    </div>
}
