@namespace Skinnix.RhymeTool.Client.Components.Configuration

@inherits PropertyEditorBase<int>

@if (Property is not null)
{
    <div class="mb-3">
        @if (Property.IsToggleable)
        {
            <button class="btn btn-sm rounded" data-bs-toggle="collapse" data-bs-target="#property-@(EditorId)">
                <i class="fas fa-toggle-off"></i>
            </button>
        }

        <label class="form-label" for="@(EditorId)-editor">
            @Property.Name
        </label>

        <div class="collapse show" id="property-@(EditorId)">
            <div class="input-group" role="group">
                <button type="button" class="btn btn-outline-secondary"
                        @onclick="() => Value -= Property.Step">
                    <i class="fas fa-minus"></i>
                </button>

                <input inputmode="numeric" class="form-control text-center" id="@(EditorId)-editor"
                       @bind="Value" />

                <button type="button" class="btn btn-outline-secondary"
                        @onclick="() => Value += Property.Step">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
}
