@using Skinnix.RhymeTool.Client.Rhyming
@using Skinnix.RhymeTool.Rhyming
@using System.Diagnostics.CodeAnalysis

@if (Words is not null)
{
    <div class="word-info-list">
        @foreach (var word in Words)
        {
            <div class="word-info-list-item">
                <span class="word">@word.Word</span>
                <span class="word-ipa">@word.Ipa</span>
            </div>
        }
    </div>
}

@code {
    [Parameter] public IReadOnlyCollection<RhymeHelper.WordBase>? Words { get; set; }
}
