$chordColor: var(--bs-primary);
$anchorTextColor: var(--bs-info-text-emphasis);
$separatorColor: #6c757d;

.chord-sheet {
	overflow: auto;

	pre {
		margin: 0;
		padding: 0;
	}

	.segment:not(:first-child) {
		margin-top: 1em;
	}

	.segment-title, .segment-title-bracket {
		font-weight: bold;
		font-size: 1.2em;
	}

	&:not(.chord-sheet-editor) .segment-title-bracket {
		display: inline-block;
		width: 1px !important;
		height: 1px !important;
		padding: 0 !important;
		margin: -1px !important;
		overflow: hidden !important;
		clip: rect(0,0,0,0) !important;
		white-space: nowrap !important;
		border: 0 !important;
	}

	.metaline.metaline-lines {
		display: flex;
		flex-direction: column;
		overflow: visible;

		.line {
			overflow: visible;
		}
	}

	.metaline.metaline-blocks {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: baseline;
		overflow-x: hidden;

		.block {
			overflow-y: hidden;
		}
	}

	.line.line-empty::before, .line:empty::before {
		content: ' ';
	}

	.chord {
		color: $chordColor;
		white-space: normal;

		.chord-root {
			font-weight: bold;
		}

		.chord-alterations {
			vertical-align: super;
		}

		.chord-alteration-separator, .chord-bass-separator {
			color: $separatorColor;
		}
	}

	.anchor-text {
		text-decoration: underline;
	}
}

.chord-sheet.no-chords {
	.line.line-chords {
		display: none;
	}

	.chord {
		display: none;
	}
}

.chord-sheet.debug {
	.line.line-text {
		.anchor-text, .text {
			border-left: 1px dotted red;
			border-right: 1px dotted green;
			margin-left: -1px;
			margin-right: -1px;
		}

		.word {
			border-left: 1px solid black;
			border-right: 1px solid black;
			margin-left: -1px;
			margin-right: -1px;

			.word-component {
				border-left: 1px dotted red;
				border-right: 1px dotted green;
				margin-left: -1px;
				margin-right: -1px;
			}
		}
	}
}