@inherits LayoutComponentBase

<header class="mb-3 border-bottom shadow">
    <div id="navbarHeader" class="bg-dark collapse">
        Test Content
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand d-flex gap-1 align-items-center">
                <i class="fas fa-home"></i>
                <strong>Home</strong>
            </a>

            <SectionOutlet SectionName="NavbarMain" />
        </div>
    </nav>
</header>

<div class="container-xxl">
    <main class="row">
        @Body
    </main>
</div>
