<div id="navbarHeader" class="bg-dark collapse">
    Test Content
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand d-flex gap-1 align-items-center">
            <i class="fas fa-home"></i>
            <strong>Home</strong>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>