@inherits LayoutComponentBase

<header class="mb-3 border-bottom shadow">
    <div id="navbarHeader" class="bg-dark collapse">
        Test Content
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a class="navbar-brand d-flex gap-1 align-items-center">
                <i class="fas fa-home"></i>
                <strong>Home</strong>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<main role="main">
    <div class="container-xxl">
        <aside class="col bg-primary offcanvas-md offcanvas-end" data-bs-scroll="true" id="navMenu">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">Responsive offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <p class="mb-0">This is content within an <code>.offcanvas-lg</code>.</p>
            </div>
        </aside>

        <main role="main" class="col">
            @Body
        </main>
    </div>
</main>
