@inherits LayoutComponentBase

<header class="sticky-top mb-3 border-bottom shadow">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-xxl d-flex gap-3 text-light">
            <SectionOutlet SectionName="NavbarMain" />
        </div>
    </nav>
</header>

<div class="container-xxl">
    <main class="d-flex flex-row overflow-x-hidden">
        @Body
    </main>
</div>
