@inherits LayoutComponentBase

<header class="fixed-top border-bottom shadow">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-xxl d-flex gap-3 text-light">
            <SectionOutlet SectionName="NavbarMain" />
        </div>
    </nav>
</header>

<div class="mb-3 visibility-hidden">
    <div class="navbar navbar-dark">
        <div class="container-xxl d-flex gap-3">
            <span class="btn">&nbsp;</span>
        </div>
    </div>
</div>

<div class="container-xxl">
    <main class="row">
        @Body
    </main>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">

</div>
