@inherits LayoutComponentBase

@layout RootLayout

<div class="col-12 col-lg-9">
    @Body
</div>

<div class="col side-column">
    <aside class="offcanvas-lg offcanvas-end sticky-lg-top" id="sideMenu">
        <div class="offcanvas-header">
            <SectionOutlet SectionName="SideMenuHeader" />
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sideMenu" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-block">
            <SectionOutlet SectionName="SideMenu" />
        </div>
    </aside>
</div>
