<span class="d-none"><span @key="renderKey" data-render-key-done="@renderKey"></span></span>

@code {
	public Action? BeforeRender { get; set; }
	public Func<ValueTask>? AfterRender { get; set; }

	private int renderKey = 1;

	protected override bool ShouldRender() => true;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		if (AfterRender is not null)
			await AfterRender();
	}

	public void TriggerRender()
	{
		renderKey++;

		BeforeRender?.Invoke();
		StateHasChanged();
	}
}
