@* @using Skinnix.RhymeTool.Client.Data.Structure;

@inject IJSRuntime js

@{
    void TextareaContent()
    {
        if (Document == null)
            return;

        var index = 0;
        foreach (var node in Document.Nodes)
        {
            switch (node)
            {
                case TextRhymeNode text:
                    <p data-node-id="@node.Id">
                        @if (!string.IsNullOrEmpty(text.Text))
                        {
                            @(text.Text);
                        }
                    </p>
                    break;
            }

            index++;
        }
    }
}

<div class="editor-wrapper">
    <div class="editor-header">

    </div>

    <div class="editor-content"
            @ref="content">
        @{
            TextareaContent();
        }
    </div>

    <div class="editor-textarea" role="textbox"
            contenteditable
            @ref="editor">
    </div>
</div> *@