.editor-wrapper {
}

.editor-header {
}

.editor-textarea {
	padding: 2px;
}

.editor-textarea p:last-child {
	margin-bottom: 0;
}

.editor-textarea p:empty:before {
	content: "";
	display: inline-block;
	/*width: 0px;*/
}