@namespace Skinnix.RhymeTool.Client.Components.Editing

@using Skinnix.RhymeTool.Data
@using Skinnix.RhymeTool.Data.Notation
@using Skinnix.RhymeTool.Data.Notation.Display

@inject IJSRuntime js

<div class="chord-sheet chord-sheet-editor chord-sheet-editing @(IsDebug ? "debug" : null)" contenteditable @ref="editorWrapper">
    @if (Document != null)
    {
        <CascadingValue TValue="ISheetFormatter" Value="Formatter">
            <CascadingValue TValue="SheetDocument" Value="Document">

                @foreach (var line in Document.Lines)
                {
                    <SheetEditorLine Line="line" @key="line" @ref="lineEditorsSetter" />
                }

            </CascadingValue>
        </CascadingValue>
    }
</div>

@code {
    private static readonly bool IsDebug =
#if DEBUG
        true;
#else
        false;
#endif

    [Parameter] public SheetDocument? Document { get; set; }
    [Parameter] public ISheetFormatter? Formatter { get; set; }

    private ElementReference editorWrapper;

    private readonly WeakDictionary<Guid, SheetEditorLine> lineEditors = new();
    private SheetEditorLine lineEditorsSetter
    {
        set
        {
            if (value.Line != null)
                lineEditors[value.Line.Guid] = value;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await js.InvokeVoidAsync("registerBeforeInput", editorWrapper, DotNetObjectReference.Create(this));
        }

        await js.InvokeVoidAsync("console.log", "rerender: " + this.GetType().Name);
    }

    [JSInvokable("OnBeforeInput")]
    public async Task<MetalineEditResult> OnBeforeInput(InputEventData data)
    {
        var startEditor = lineEditors[data.Selection.Start.Metaline];
        if (data.Selection.End.Metaline != data.Selection.Start.Metaline)
            return new MetalineEditResult(false, null); //TODO: for now, we don't support multi-line selections

        var editResult = await startEditor.HandleInput(data);
        if (editResult == null)
            return new MetalineEditResult(false, null);

        var selection = editResult.LineResult.NewSelection == null ? null
            : new MetalineSelectionRange(data.Selection.Start.Metaline, editResult.Line, editResult.LineResult.NewSelection.Value);
        return new MetalineEditResult(editResult.Success, selection);
    }

    public record MetalineEditResult(bool Success, MetalineSelectionRange? Selection);
    public record MetalineSelectionRange(Guid Metaline, int Line, SimpleRange Range);
}