@namespace Skinnix.RhymeTool.Client.Components.Editing

@using Skinnix.RhymeTool.ComponentModel
@using Skinnix.RhymeTool.Data
@using Skinnix.RhymeTool.Data.Notation
@using Skinnix.RhymeTool.Data.Notation.Display

@implements IAsyncDisposable

@inject IJSRuntime js

<div class="chord-sheet chord-sheet-editor chord-sheet-editing" contenteditable="true" @ref="editorWrapper"
     spellcheck="false" enterkeyhint="enter">
    @if (Document != null)
    {
        <CascadingValue TValue="ISheetEditorFormatter" Value="Formatter">
            <CascadingValue TValue="SheetDocument" Value="Document">

                @foreach (var line in Document.Lines){<SheetEditorLine Line="line" @key="line" OnLinesRendered="OnLinesRendered" />}

            </CascadingValue>
        </CascadingValue>
    }

    <RerenderAnchor @ref="rerenderAnchor" />
</div>

<div class="custom-selection"></div>
