@page "/editor"
@page "/chords/editor"

@using Skinnix.RhymeTool.Client.Components.Configuration
@using Skinnix.RhymeTool.Client.Components.Rendering
@using Skinnix.RhymeTool.Client.Services
@using Skinnix.RhymeTool.Data.Notation
@using Skinnix.RhymeTool.Data.Notation.Display
@using Skinnix.RhymeTool.Client.Components.Editing

@layout RendererLayout

@inject IJSRuntime js
@inject IDocumentService documentService
@inject NavigationManager navigation

<SectionContent SectionName="NavbarMain">
    <a class="btn btn-dark" href="/chords">
        <i class="fas fa-arrow-left"></i>
    </a>

    <div class="navbar-brand me-auto">
        @document?.Label
    </div>

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu" aria-controls="sideMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</SectionContent>

<SectionContent SectionName="SideMenuHeader">
    <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">@document?.Label</h5>
</SectionContent>

<SectionContent SectionName="SideMenu">
    @if (document is not null)
    {
        <h4>Tools</h4>
        <ConfigurationGrid Settings="settings" />

        <h4>Navigation</h4>
        <nav class="nav nav-pills flex-column overflow-x-hidden text-break" id="pageNavigation">
            @foreach (var segment in document.FindSegments())
            {
                <a class="nav-link" href="@(navigation.Uri)#sheetSegment-@(segment.TitleLine.Guid)">
                    @segment.Title
                </a>
            }
        </nav>
    }
</SectionContent>

<div class="chord-sheet-wrapper" style="font-size: @(settings.FontSize)px;">
    <SheetEditor Document="document" Formatter="settings.Formatter" />
</div>

@code {
    [Parameter, SupplyParameterFromQuery] public string? Doc { get; set; }
    
    public static string GetUrl(IDocumentSource document) => GetUrl(document.Id);
    public static string GetUrl(string? documentId) => documentId is null ? "/chords/editor" : "/chords/editor?doc=" + Uri.EscapeDataString(documentId);

    private SheetDocument? document;

    private EditingSettings settings = new()
    {
        FontSize = 16,
        Formatter = new DefaultSheetFormatter()
        {
            GermanMode = GermanNoteMode.Descriptive,
        },
    };

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        settings.PropertyChanged += (_, _) => StateHasChanged();

        var documentSource = await documentService.TryGetDocument(Doc);
        if (documentSource is not null)
        {
            document = await documentSource.LoadDocument();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await js.InvokeVoidAsync("console.log", "rerender: " + this.GetType().Name);
    }
}