@page "/chords"
@page "/"

@using Skinnix.RhymeTool.Data.Notation
@using Skinnix.RhymeTool.Data.Notation.Display
@using Skinnix.RhymeTool.Client.Components.Editing

@layout MainLayout

@inject HttpClient http
@inject IJSRuntime js
@inject NavigationManager navigation

<SectionContent SectionName="NavbarMain">
    <label>
        <button class="btn btn-secondary" role="button" onclick="document.getElementById('openFileInput').click()">
            <i class="fas fa-file-import"></i>
        </button>
    </label>

    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#rendererMenu" aria-controls="rendererMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</SectionContent>

<div class="dropzone dropzone-overlay">
    <div class="dropzone-overlay-background"></div>

    <div class="dropzone-overlay-content d-flex flex-column align-items-center">
        <div class="dropzone-overlay-icon fs-1">
            <i class="fas fa-file-import"></i>
        </div>

        <div class="dropzone-overlay-text">
            <p>Droppe eine Datei hier, um sie zu öffnen.</p>
        </div>
    </div>

    <InputFile OnChange="UploadFile" id="openFileInput" />
</div>

<div class="col sheet-wrapper" style="font-size: @(fontSize)px;">
    <SheetRenderer Document="document" DisplayMode="SheetDisplayMode.Lines" Formatter="formatter" />
</div>

<aside class="col-2 offcanvas-lg offcanvas-end d-flex" data-bs-scroll="true" id="rendererMenu">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">@document?.Label</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#rendererMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-column">
        <div class="sticky-lg-top">
            @if (document != null)
            {
                <h4>Tools</h4>
                <div class="row mb-3">
                    <label class="form-label">
                        <button class="btn btn-sm rounded" data-bs-toggle="collapse" data-bs-target="#fontSizeWrapper">
                            <i class="fas fa-toggle-off"></i>
                        </button>

                        Schriftgröße
                    </label>
                    <div class="col collapse show" id="fontSizeWrapper">
                        <div class="input-group" role="group">
                            <button type="button" class="btn btn-outline-secondary"
                                    @onclick="() => SetFontSize(fontSize - 1)">
                                <i class="fas fa-minus"></i>
                            </button>
                            
                            <input inputmode="numeric" class="form-control text-center"
                                   @bind:get="fontSize"
                                   @bind:set="SetFontSize" />

                            <button type="button" class="btn btn-outline-secondary"
                                    @onclick="() => SetFontSize(fontSize + 1)">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="form-label">
                        <button class="btn btn-sm rounded" data-bs-toggle="collapse" data-bs-target="#transposeWrapper">
                            <i class="fas fa-toggle-off"></i>
                        </button>

                        Transponieren
                    </label>
                    <div class="col collapse show" id="transposeWrapper">
                        <div class="input-group" role="group">
                            <button type="button" class="btn btn-outline-secondary"
                                    @onclick="DecrementTranspose">
                                <i class="fas fa-minus"></i>
                            </button>

                            <input inputmode="numeric" class="form-control text-center"
                                   @bind:get="formatter.Transformation?.Transpose ?? 0"
                                   @bind:set="SetTranspose" />

                            <button type="button" class="btn btn-outline-secondary"
                                    @onclick="IncrementTranspose">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <h4>Navigation</h4>
                <nav class="nav nav-pills flex-column" id="pageNavigation">
                    @{
                        var segmentIndex = 0;
                    }
                    @foreach (var segment in document.Segments)
                    {
                        <a class="nav-link" href="@(navigation.Uri)#sheetSegment@(segmentIndex++)">
                            @segment.Title
                        </a>
                    }
                </nav>
            }
        </div>
    </div>
</aside>

@code {
    private SheetDocument? document;
    private int fontSize = 16;

    private DefaultSheetFormatter formatter = new DefaultSheetFormatter()
    {
        GermanMode = GermanNoteMode.Descriptive,
    };

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        #if DEBUG
        using (var stream = await http.GetStreamAsync("Data/test-sas.txt"))
        using (var reader = new StreamReader(stream))
        {
            //Lese Sheet
            document = SheetReader.ReadSheet(reader);
            StateHasChanged();
        }
        #endif
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        await js.InvokeVoidAsync("startScrollSpy", "pageNavigation");
    }

    private void SetFontSize(int value)
    {
        if (value <= 0) return;

        fontSize = value;
    }

    private void DecrementTranspose()
        => SetTranspose((formatter.Transformation?.Transpose ?? 0) - 1);

    private void IncrementTranspose()
        => SetTranspose((formatter.Transformation?.Transpose ?? 0) + 1);

    private void SetTranspose(int value)
    {
        if (formatter.Transformation == null)
            formatter = formatter with
            {
                Transformation = new SheetTransformation()
                {
                    Transpose = value
                }
            };
        else
            formatter = formatter with
            {
                Transformation = formatter.Transformation with
                {
                    Transpose = value
                }
            };
    }

    private async Task UploadFile(InputFileChangeEventArgs e)
    {
        using (var stream = e.File.OpenReadStream())
        using (var reader = new StreamReader(stream))
        {
            //Lese Sheet
            document = await SheetReader.ReadSheetAsync(reader);
            StateHasChanged();
        }
    }
}