@page "/chords/rhymetest"
@page "/rhymetest"

@using Skinnix.RhymeTool.Rhyming

@layout RendererLayout

@inject HttpClient http

<div class="container">
	<Skinnix.RhymeTool.Client.Components.Rhyming.TermSearch />
</div>
